# Automação Web e Busca de Informações com Python

### Desafio: 

Trabalhamos em uma importadora e o preço dos nossos produtos é vinculado a cotação de:
- Dólar
- Euro
- Ouro

Precisamos pegar na internet, de forma automática, a cotação desses 3 itens e saber quanto devemos cobrar pelos nossos produtos, considerando uma margem de contribuição que temos na nossa base de dados.

Base de Dados: https://drive.google.com/drive/folders/1o2lpxoi9heyQV1hIlsHXWSfDkBPtze-V?usp=sharing

Para isso, vamos criar uma automação web:

- Usaremos o selenium
- Importante: baixar o webdriver e colocá-lo no local onde o python está instalado, ele faz a conexão entre python e navegador.

In [8]:
# Passo 1: Pegar a cotação atualizada do Dólar, Euro e Ouro.
# Passo 2: Importar a lista de produtos.
# Passo 3: Atualizar os valores e recalcular os preços.
# Passo 4: Salvar a tabela atualizada com os novos preços dos produtos fora do python.

from selenium import webdriver # atente-se à versão do webdriver que foi baixada
from selenium.webdriver.common.keys import Keys

# Passo 1:

navegador = webdriver.Chrome() # Abre o navegador

navegador.get("https://www.google.com.br/") # Abre o google
navegador.find_element_by_xpath('/html/body/div[1]/div[3]/form/div[1]/div[1]/div[1]/div/div[2]/input').send_keys("cotação do dólar") # Vai na caixa de texto e escreve.
# Para achar o xpath: botão direito, inspecionar, clica no lugar, botão direito no lugar que foi marcado no código, copy, xpath. Sempre cole o xpath entre aspas simples.
navegador.find_element_by_xpath('/html/body/div[1]/div[3]/form/div[1]/div[1]/div[1]/div/div[2]/input').send_keys(Keys.ENTER) # Aperta enter onde foi escrito.
cotacao_dolar = navegador.find_element_by_xpath('//*[@id="knowledge-currency__updatable-data-column"]/div[1]/div[2]/span[1]').get_attribute("data-value") # Encontrei o xpath da cotação e peguei a informação que contém o valor.
print(cotacao_dolar) 

navegador.get('https://www.google.com.br/')
navegador.find_element_by_xpath('/html/body/div[1]/div[3]/form/div[1]/div[1]/div[1]/div/div[2]/input').send_keys("cotação do euro")
navegador.find_element_by_xpath('/html/body/div[1]/div[3]/form/div[1]/div[1]/div[1]/div/div[2]/input').send_keys(Keys.ENTER)
cotacao_euro = navegador.find_element_by_xpath('//*[@id="knowledge-currency__updatable-data-column"]/div[1]/div[2]/span[1]').get_attribute("data-value")
print(cotacao_euro)

# Aqui é diferente pois o google não mostra automaticamente a cotação, tem que entrar em um site.
navegador.get("https://www.melhorcambio.com/ouro-hoje")
cotacao_ouro = navegador.find_element_by_xpath('//*[@id="comercial"]').get_attribute("value")
cotacao_ouro = cotacao_ouro.replace(",", ".") # Para trocar a vírgula por ponto, pois é assim no sistema dos EUA.
print(cotacao_ouro)

navegador.quit() # Para fechar o navegador

5.6129
6.352960865
321.80

In [9]:
# Para realizar totalmente em segundo plano com exemplo: (Tira as hashtags)

#from selenium import webdriver
#from selenium.webdriver.common.keys import Keys
#from selenium.webdriver.chrome.options import Options 

#chrome_options = Options()
#chrome_options.headless = True
#navegador = webdriver.Chrome(options=chrome_options)
#navegador.get('https://www.google.com.br/')
#navegador.find_element_by_xpath('/html/body/div[1]/div[3]/form/div[1]/div[1]/div[1]/div/div[2]/input').send_keys("cotação do euro")
#navegador.find_element_by_xpath('/html/body/div[1]/div[3]/form/div[1]/div[1]/div[1]/div/div[2]/input').send_keys(Keys.ENTER)
#cotacao_euro = navegador.find_element_by_xpath('//*[@id="knowledge-currency__updatable-data-column"]/div[1]/div[2]/span[1]').get_attribute("data-value")
#print(cotacao_euro)

6.352960865

### Agora vamos atualizar a nossa base de preços com as novas cotações

- Importando a base de dados:

In [10]:
# Passo 2:

import pandas as pd
                        # diretório do arquivo
tabela = pd.read_excel("Produtos.xlsx")
display(tabela)

,Produtos,Preço Base Original,Moeda,Cotação,Preço Base Reais,Margem,Preço Final
0,Câmera Canon,999.99,Dólar,4.9145,4914.450855,1.40,6880.231197
1,Carro Renault,4500.00,Euro,5.8689,26410.050000,2.00,52820.100000
2,Notebook Dell,899.99,Dólar,4.9145,4423.000855,1.70,7519.101453
3,IPhone,799.00,Dólar,4.9145,3926.685500,1.70,6675.365350
4,Carro Fiat,3000.00,Euro,5.8689,17606.700000,1.90,33452.730000
5,Celular Xiaomi,480.48,Dólar,4.9145,2361.318960,2.00,4722.637920
6,Joia 20g,20.00,Ouro,280.4700,5609.400000,1.15,6450.810000

- Atualizando a cotação:

In [11]:
# Passo 3:

tabela.loc[tabela["Moeda"] == "Dólar", "Cotação"] = float(cotacao_dolar)
# Essa linha de código diz que eu quero localizar na minha tabela linhas e colunas. Quero localizar a coluna Cotação e quero editá-la nas linhas onde a coluna Moeda é igual a Dólar.
# float = garante que o python reconheça o valor em número com casa decimal e não em texto, int seria pra reconhecer o números inteiros.
tabela.loc[tabela["Moeda"] == "Euro", "Cotação"] = float(cotacao_euro)
tabela.loc[tabela["Moeda"] == "Ouro", "Cotação"] = float(cotacao_ouro)
display(tabela)

# Se tivessem mais condições onde vc quer editar, poderia ser escrito: tabela.loc[tabela["Moeda"] == "Dólar" && blablabla && blablabla..., "Cotação"] = float(cotacao_dolar).

,Produtos,Preço Base Original,Moeda,Cotação,Preço Base Reais,Margem,Preço Final
0,Câmera Canon,999.99,Dólar,5.612900,4914.450855,1.40,6880.231197
1,Carro Renault,4500.00,Euro,6.352961,26410.050000,2.00,52820.100000
2,Notebook Dell,899.99,Dólar,5.612900,4423.000855,1.70,7519.101453
3,IPhone,799.00,Dólar,5.612900,3926.685500,1.70,6675.365350
4,Carro Fiat,3000.00,Euro,6.352961,17606.700000,1.90,33452.730000
5,Celular Xiaomi,480.48,Dólar,5.612900,2361.318960,2.00,4722.637920
6,Joia 20g,20.00,Ouro,321.800000,5609.400000,1.15,6450.810000

- Atualizando os preços base:

In [12]:
tabela["Preço Base Reais"] = tabela["Preço Base Original"] * tabela["Cotação"] # Faz o cálculo do preço base, que é o preço base original vezes a cotação atualizada.
display(tabela)

# Caso queira uma diferente formatação: tabela["Preço Base Reais"] = tabela["Preço Base Reais"].map("{:.2f}".format)

,Produtos,Preço Base Original,Moeda,Cotação,Preço Base Reais,Margem,Preço Final
0,Câmera Canon,999.99,Dólar,5.612900,5612.843871,1.40,6880.231197
1,Carro Renault,4500.00,Euro,6.352961,28588.323893,2.00,52820.100000
2,Notebook Dell,899.99,Dólar,5.612900,5051.553871,1.70,7519.101453
3,IPhone,799.00,Dólar,5.612900,4484.707100,1.70,6675.365350
4,Carro Fiat,3000.00,Euro,6.352961,19058.882595,1.90,33452.730000
5,Celular Xiaomi,480.48,Dólar,5.612900,2696.886192,2.00,4722.637920
6,Joia 20g,20.00,Ouro,321.800000,6436.000000,1.15,6450.810000

- Atualizando os preços finais:

In [13]:
tabela["Preço Final"] = tabela["Preço Base Reais"] * tabela["Margem"] # Faz o cálculo do preço final, que é o preço base vezes a margem.
display(tabela)

# Não é recomendado, mas caso queira arredondar/diminuir o número de casa decimais: round(x). Melhor arrumar isso dentro do próprio excel.

,Produtos,Preço Base Original,Moeda,Cotação,Preço Base Reais,Margem,Preço Final
0,Câmera Canon,999.99,Dólar,5.612900,5612.843871,1.40,7857.981419
1,Carro Renault,4500.00,Euro,6.352961,28588.323893,2.00,57176.647785
2,Notebook Dell,899.99,Dólar,5.612900,5051.553871,1.70,8587.641581
3,IPhone,799.00,Dólar,5.612900,4484.707100,1.70,7624.002070
4,Carro Fiat,3000.00,Euro,6.352961,19058.882595,1.90,36211.876930
5,Celular Xiaomi,480.48,Dólar,5.612900,2696.886192,2.00,5393.772384
6,Joia 20g,20.00,Ouro,321.800000,6436.000000,1.15,7401.400000

### Agora vamos exportar a nova base de preços atualizada

In [14]:
# Passo 4:
                # diretório do arquivo
tabela.to_excel("Produtos.xlsx", index=False) # Substitui a tabela salva no computador. O index false tira a numeração.
tabela.to_excel("Produtos Atualizados.xlsx", index=True) # Cria uma nova tabela. O index true deixa a numeração.